h1 {
    font-size: 20px;
}
.negrito {
    font-weight: bolder;
}
.fundoVermelho {
    background-color: #C00;
    color: white;
}
#textoPrincipal {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background-color: #444;
    margin-bottom: 50px;
}